<h2>ABOUT</h2>

<p>
  Music is a huge part of our everyday lives. We use it as a source of entertainment, relaxation, therapy, and many more things.
</p>
<p>
  Great albums have captivating introductions that draw you in to the story they're about to tell.
  They also have retrospective outros that make you think back to what you just heard and how it concludes the journey of the album.
</p>
<p>
  I created this site to document the very best intros and outros in music history according to the fans that decide to etch them into this evergrowing database.
  Music has always been a big part of my life and I feel like music is best when shared and discovered. Happy listening!
</p>

<img src="./assets/piano.JPG">
