<header>
  <div class="title">
    <h1>FROM FIRST TO LAST<img src="./assets/vinyl.png" /></h1>
    <p *ngIf="userThang.currentUser">
      Hello, <span><b>{{userThang.currentUser.username}}</b></span>.
    </p>
  </div>
  <nav class="header">

    <a routerLink="/">Home</a>
    <a routerLink="/albums">Album List</a>

    <a *ngIf="userThang.currentUser" routerLink="/add-album">Add Album</a>
    <a *ngIf="userThang.currentUser" routerLink="/favorites">Favorites</a>

    <a *ngIf="!userThang.currentUser" routerLink="/signup">Sign Up</a>
    <a *ngIf="!userThang.currentUser" routerLink="/login">Login</a>
    <a routerLink="/about">About</a>

    <button class="btn btn-sm" *ngIf="userThang.currentUser" (click)="startLogOutAjax()">Log Out</button>

  </nav>

</header>
<hr>

<router-outlet></router-outlet>

<!-- <hr>
<footer>
  <nav class="footer">
    <a routerLink="/">Home</a>
    <a routerLink="/albums">Album List</a>
    <a routerLink="/about">About</a>
    <a *ngIf="!userThang.currentUser" routerLink="/join">Join</a>
    <button class="btn btn-sm btn-danger" *ngIf="userThang.currentUser" (click)="startLogOutAjax()">Log Out</button>
  </nav>
</footer> -->
