<header>
  <h1>From First to Last</h1>

  <nav>
    <p *ngIf="userThang.currentUser">
      Hello, <b>{{userThang.currentUser.username}}</b>.
    </p>
    
    <a routerLink="/">Home</a>
    <a routerLink="/albums">Album List</a>
    <a *ngIf="!userThang.currentUser" routerLink="/signup">Sign Up</a>
    <a *ngIf="!userThang.currentUser" routerLink="/login">Login</a>
    <button *ngIf="userThang.currentUser" (click)="startLogOutAjax()">Log Out</button>
  </nav>

</header>
<hr>

<router-outlet></router-outlet>

<hr>
<footer>
  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/albums">Album List</a>
    <a *ngIf="!userThang.currentUser" routerLink="/join">Join</a>
    <button *ngIf="userThang.currentUser" (click)="startLogOutAjax()">Log Out</button>
  </nav>
</footer>
