<h2>SIGN UP</h2>

<form (ngSubmit)="startSignupAjax()">
  <div class="form-group">
    <label for="fullname-input">Full Name</label>
    <input id="fullname-input" class="form-control" type="text" placeholder="e.g. Bruce Wayne"
      [(ngModel)]="theUser.fullName" name="fullNameInput">
  </div>
  <div class="form-group">
    <label for="username-input">Username</label>
    <input id="username-input" class="form-control" type="text" placeholder="e.g. batman"
      [(ngModel)]="theUser.username" name="usernameInput">
  </div>
  <div class="form-group">
    <label for="password-input">Password</label>
    <input id="password-input" class="form-control" type="password" placeholder="e.g. ********"
      [(ngModel)]="theUser.password" name="passwordInput">
      <small id="spotifyHelp" class="form-text text-muted">(Password must contain 6 characters including 1 special character)</small>
  </div>

    <button class="btn btn-danger">Sign Up</button>
</form>
