@import url('https://fonts.googleapis.com/css?family=Hind|Josefin+Sans:700|Karla|Lato:700|Montserrat|Patua+One|Raleway:400,700|Ubuntu:500');
* {
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
}
